.containerBtnFinalizar {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
    margin-bottom: 3em;
}

.containerBtnFinalizar button {
    padding: 1em;
    background-color: rgb(0, 255, 200);
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

.containerDetalhes {
    color: #000;
    max-width: 550px;
}

.containerDetalhes h2 {
    text-align: center;
}